<div>
    <a href="/">back to home</a>
    products    
    <div>
        name: <%= product.product_name %>
    </div>
    <div>
        description: <%= product.product_description %>
    </div>
    <div>
        price $<%= product.product_price %>
    </div>
</div>